{% extends "web/app/app_base.html" %}
{% load static %}
{% block app %}
<section class="app-card">
    <div class="row align-items-center">
        <div class="col-md order-md-last">
            <img class="img-fluid" src="{% static 'images/undraw/undraw_alert.svg' %}" alt="Uh-Oh">
        </div>
        <div class="col-md">
            <h3>Oops. You don't have access.</h3>
            <p class="lead">
              This page requires an active subscription. Upgrade your plan to get access!
        </div>
    </div>
</section>
{% endblock %}
