{% extends "web/app/app_base.html" %}
{% load static %}
{% block app %}
  <section class="app-card py-5">
    <div class="row align-items-center">
      <div class="col-md">
        <h3>You're Signed In!</h3>
        <section class="app-card py-5">
          <form method="POST" enctype="multipart/form-data" action={% url 'web:home' %}>
              {% csrf_token %}
              <fieldset class="form-control">
                  <legend class="border-bottom mb-4">Crypto History File Upload</legend>
                  <p>This is where you will upload your tax file from Zen Ledger (normally this is a .csv file)</p>
                  <p><b>Crypto Tax Checker</b> analyzes this file and alerts you to possible ways to save on taxes.</p>
                  <br>
                  {{ form }}
                  <br>
              <div class="form-group">
                  <button class="btn btn-outline-info" type="submit">Upload</button>
              </div>
              </fieldset>
          </form>
      </section>
      </div>
    </div>
  </section>
{% endblock %}
