Django
django-allauth
psycopg2-binary
djangorestframework
coreapi  # DRF schemas and docs
stripe
dj-stripe
django-anymail[mailgun]  # email services
celery-progress
celery
celery[redis]
sentry-sdk
boto3
django-storages
